<div class="admin">
<form action="/iambirchy/i" method="POST" enctype="multipart/form-data">
	<input type="hidden" name="_method" value="put">
	<input type="hidden" name="id" value="<%= params[:id] %>">
  <br/>Title <input type="text" name="title" value="<%= @item.title %>"><br/>
  <br/><textarea name="description"><%= @item.description %></textarea><br/>
  <br/>URL <input type="text" name="url" value="<%= @item.url %>"><br/>
  <br/>Icon image <input type="file" name="iconimg"><br/>
  <br/>Expanded image <input type="file" name="expandimg"><br/>
  <br/>Section <input type="text" name="sectionid" value="<%= @item.sectionid %>"><br/>
  <% @sections.each do |section| %>
	<%= section.id %> = <%= section.name %>
  <% end %>
  <br/><br/><input type="submit" value="Edit Item"/>
</form>
</div>