<% if @section.name != @item.title %>
<div id="back"><a href="/s/<%= @section.name_lower %>">B<br/>A<br/>C<br/>K<br/>&crarr;</a></div>
<div class="sectionHeaderCont"><h2 class="sectionHeader"><a href="/s/<%= @section.name_lower %>"><%= @section.name %></a></h2></div>
<% else %>
<div id="back"><a href="/">B<br/>A<br/>C<br/>K<br/>&crarr;</a></div>
<% end %>

<div class="item_detail">
<div style="text-align:center;">
<span class="item_title">
	<%= @item.title %>
</span>
</div>
<br/>
<div>
<span><%= @itemdetail.body %></span>
</div>
</div>
<script>
$(document).ready(function()
{
	// SHIFT BACK LINK APPROPRIATELY
	if(isMobile() == true)
	{
		x = 5;
	}else
	{
		windowWidth = $(window).width();
		contWidth = $("#container").width() + 60;
		x = (windowWidth - contWidth) /2;
	}
	$("#back").css({left: x + "px"});
});
</script>