<% if @section.name != @item.title %>
<div id="back"><a href="/s/<%= @section.name_lower %>">&nbsp;B&nbsp;<br/>&nbsp;A&nbsp;<br/>&nbsp;C&nbsp;<br/>&nbsp;K&nbsp;<br/>&nbsp;&crarr;&nbsp;</a></div>
<div class="sectionHeaderCont"><h2 class="sectionHeader"><a href="/s/<%= @section.name_lower %>"><%= @section.name %></a></h2></div>
<% else %>
<div id="back"><a href="/">&nbsp;B&nbsp;<br/>&nbsp;A&nbsp;<br/>&nbsp;C&nbsp;<br/>&nbsp;K&nbsp;<br/>&nbsp;&crarr;&nbsp;</a></div>
<% end %>

<div class="item_detail">
<div style="text-align:center;">
<span class="item_title">
	<%= @item.title %>
</span>
</div>
<br/>
<div>
<span>
<script> 
	// determine whether mobile/desktop - do sub on body where "uploads/" replaced with "uploads/desktop_" or "uploads_mobile" 
</script>
<% 
	body = @itemdetail.body 
	if @isMobile
		body = @itemdetail.body.sub('<img src="/uploads/','<img src="/uploads/mobile_')
	else
		body = @itemdetail.body.sub('<img src="/uploads/','<img src="/uploads/desktop_')
	end 
%>
<%= body %>
</span>
</div>
</div>
<script>
//TODO
//PRELOAD full size images

$(document).ready(function()
{
	// SHIFT BACK LINK APPROPRIATELY
	if(isMobile())
	{
		x = 5;
	}else
	{
		windowWidth = $(window).width();
		contWidth = $("#container").width() + 60;
		x = (windowWidth - contWidth) /2;
	}
	$("#back").css({left: x + "px"});
	
	//popup full image when tap in mobile
	$('img').click(function(){
		window.location.href=$(this).attr('src').replace('mobile_', '');
	});

});
</script>