<div id="back"><a href="/">&nbsp;B&nbsp;<br/>&nbsp;A&nbsp;<br/>&nbsp;C&nbsp;<br/>&nbsp;K&nbsp;<br/>&nbsp;&crarr;&nbsp;</a></div>
<div class="sectionHeaderCont"><h2 class="sectionHeader"><%= @section.name %></h2></div>
<div id="fence">
<% @items.each do |item| %>
<span class="item" id="<%= item.id %>">
	<div class="inner">
		<span class="itemOver"><a href="/s/<%= @section.name_lower %>/i/<%= item.title_lower %>"><%= item.title %></a></span>
	</div>
</span>
<% end %>
</div>

<script>
	
// PRELOAD IMAGES
preload([
	<% @items.each do |item| %>
		'<%= item.expandimg.expand_mobile.url %>',
	<% end %>
]);

preload([
	<% @items.each do |item| %>
		'<%= item.expandimg.expand_desk.url %>',
	<% end %>
]);


function item() {
  this.title = '';
  this.title_lower = ''; 
  this.description = '';
  this.expandDeskImgUrl ='';
  this.expandMobileImgUrl ='';
}


$(document).ready(function()
{
	// SHIFT BACK LINK APPROPRIATELY
	if(isMobile() == true)
	{
		x = 5;
	}else
	{
		windowWidth = $(window).width();
		contWidth = $("#container").width() + 60;
		x = (windowWidth - contWidth) /2;
	}
	$("#back").css({left: x + "px"});
	
	// GATHER UP IMAGES
	sectionName = '<%= @section.name %>';
	items = new Array();
	itemIds = new Array();
	itemIdsIndex = 0;

	<% @items.each do |item| %>
		itemIds[itemIdsIndex] = <%= item.id %>;
		itemIdsIndex++;
		items[<%= item.id %>] = new item();
		items[<%= item.id %>].title_lower = '<%= item.title_lower %>';
		items[<%= item.id %>].title = '<%= item.title.gsub(/(\')/){|match|"\\"  + match} %>';
		items[<%= item.id %>].description = '<%= item.description.gsub(/\r\n/, "").gsub(/(\')/){|match|"\\"  + match} %>';
		items[<%= item.id %>].expandDeskImgUrl = '<%= item.expandimg.expand_desk.url %>';
		items[<%= item.id %>].expandMobileImgUrl = '<%= item.expandimg.expand_mobile.url %>';
		
		$('#<%= item.id %>').css('background','#111');
		$('#<%= item.id %>').children().first().css('background-image','url("<%= item.expandimg.expand_mobile.url %>")');
		$('#<%= item.id %>').children().first().css('background-size','cover');
		// resize text to fit
		box = $('#<%= item.id %>').children().first().children().first();
		size = 14;box.css('font-size', size + 'px');
		parent = box.parent();
		while(box.outerWidth() > parent.width()){
			box.css('font-size', --size + 'px');
		}
		$('#<%= item.id %>').children().first().children().first().removeClass().addClass('itemOverHide');
		$('#<%= item.id %>').children().first().children().first().html('<%= item.title.gsub(/(\')/){|match|"\\"  + match} %>');
	<% end %>

	// PREPARE WIDTHS OF NORMAL/EXPANDED ITEMS
	expandedWidth = $('#container').width()- 10;
	normalWidth = $('span.item').children().first().width();
	
	if(isMobile()==true){
		expandedWidth = '240';
		normalWidth = '113';
	}
	
	$('span.item').mouseover(function(){
		if($(this).width() < expandedWidth)
		{
			$(this).children().first().children().first().removeClass().addClass('itemOver');
		}
	});
	
	$('span.item').mouseout(function(){
		if($(this).width() < expandedWidth)
		{
			$(this).children().first().children().first().removeClass().addClass('itemOverHide');
		}
	});
	
	$('span.item').click(function(e){
		if ($(e.target).hasClass('item_close')) {
        	$(this).css('cursor','pointer');
			divid = $(this).attr('id');
			
			$(this).children().first().css('padding','46px 0 45px 0');
			$(this).children().first().html('<div class="itemOverHide">'+items[divid].title+'</div>');
			$(this).children().first().animate({'width': normalWidth +'px'},
							'fast', function(){	
								$(this).css('text-align','center');
								$(this).css('background-image','url("' +items[divid].expandMobileImgUrl+ '")');
								$(this).css('background-size','cover');
								$('html, body').animate({scrollTop:-100+$(this).parent().position().top}, 'fast');
								$(this).html('<div class="itemOverHide">'+items[divid].title+'</div>');
								// resize text to fit
								box = $(this).children().first();
								size = 14;box.css('font-size', size + 'px');
								parent = box.parent();
								while(box.outerWidth() > parent.width()){
									box.css('font-size', --size + 'px');
								}
							});
        	return false;
    	}
		if ($(e.target).is('a')) {
        	return true;
    	}
		divid = $(this).attr('id');
		if($(this).width() < expandedWidth)
		{
			divid = $(this).attr('id');
			
			$(this).children().first().css('background-image','url("' +items[divid].expandDeskImgUrl + '")');
			$(this).children().first().css('background-size','cover');
		
			$(this).css('cursor','auto');
			$(this).children().first().animate({'width': expandedWidth +'px'}, 'fast', function(){
							$(this).css('text-align','left');
							$('#'+divid).children().first().css('padding','10px 0 10px 0');
								$('#'+divid).children().first().html(
									'<div class="inner_expand">' +
										'<a href="#" class="item_close">&#10005;</a>' +
										'<div style="margin-bottom:10px"><span class="item_title">' + items[divid].title + '</span></div>' +
										'<p>' + items[divid].description + '</p>' +
										'<br/><p><a class="see_more" href="/s/'+sectionName.toLowerCase()+'/i/'+items[divid].title_lower+'">See More</a><p>'+
									'</div>'
								);
								height = $('#'+divid).children().first().children().first().height();
								$('#'+divid).children().first().children().first().css('height', '50px');
								$('#'+divid).children().first().children().first().animate({'height': height + 'px'}, 'fast', function(){
									$('html, body').animate({scrollTop:-100+$(this).parent().position().top}, 'fast', function(){});
								});
								
								// resize text to fit
								box = $(".item_title").first();
								size = box.css('font-size').replace('px','');
								parent = box.parent();
								while(box.outerWidth() > parent.width()){
									box.css('font-size', --size + 'px');
								}
						});
		}
		return false;
	});
	
	var i=0;
	var hashitem = location.hash;
	for (i=0;i<itemIdsIndex;i++)
	{
		itemId = itemIds[i];
		itemTitleLower = '#' + items[itemId].title_lower
		if(hashitem == itemTitleLower)
		{
			$('#'+itemId).click();
		}
	}
});
</script>

