<div class="sectionHeaderCont"><h2 class="sectionHeader"><a href="/iambirchy">Admin</a></h2></div>

<div class="admin">
	<div class="admin_header">
		<b><%= @section.name %></b>
		<br/><br/>
		<a href="/iambirchy/i/add/<%=@section.id%>">Add Item</a>
		<br/>
	</div>
	
	<form action="/iambirchy/s/<%= @section.name %>/ordering" method="POST">
	<% @items.each do |item| %>
		<div class="admin_item">
			<b><%= item.title%></b>
			<a href="/iambirchy/i/edit/<%= item.id %>">Edit</a> |
			<a href="/iambirchy/i/delete/<%= item.id %>">Delete</a> |
			<% if @itemDetails.count(:itemid => item.id) == 0 %>
				<a href="/iambirchy/i/add_detail/<%= item.id %>">Add Detail</a>
			<% else %>
				<a href="/iambirchy/i/edit_detail/<%= item.id %>">Edit Detail</a>
			<% end %>
			<br/><br/>
			Display Order <input type="text" name="order_<%= item.id %>" value="<%= item.ordering %>">
			<br/>
		</div>
	<% end %>
	<br/>
	<input type="submit" value="Modify Ordering">
</div>