<div id="back"><a href="/">B<br/>A<br/>C<br/>K<br/>&crarr;</a></div>
<div id="fence">
<% @items.each do |item| %>
<span class="item" id="<%= item.id %>"><div class="inner"><div class="itemOver"><%= item.title %></div></div></span>
<% end %>
</div>

<script>
	
// PRELOAD IMAGES

if(isMobile()==true)
{
	preload([
		<% @items.each do |item| %>
			'<%= item.expandimg.expand_mobile.url %>',
		<% end %>
	]);
}else
{
	preload([
		<% @items.each do |item| %>
			'<%= item.expandimg.expand_desk.url %>',
		<% end %>
	]);
}


$(document).ready(function()
{
	// SHIFT BACK LINK APPROPRIATELY
	if(isMobile() == true)
	{
		x = 5;
	}else
	{
		windowWidth = $(window).width();
		contWidth = $("#container").width() + 60;
		x = (windowWidth - contWidth) /2;
	}
	$("#back").css({left: x + "px"});
	
	// GATHER UP IMAGES
	sectionName = '<%= @section.name %>';
	title = new Array();
	description = new Array();
	iconImgUrl = new Array();
	expandDeskImgUrl = new Array();
	expandMobileImgUrl = new Array();

	<% @items.each do |item| %>
		title[<%= item.id %>] = '<%= item.title %>';
		description[<%= item.id %>] = '<%= item.description %>';
		iconImgUrl[<%= item.id %>] = '<%= item.iconimg.icon.url %>';
		expandDeskImgUrl[<%= item.id %>] = '<%= item.expandimg.expand_desk.url %>';
		expandMobileImgUrl[<%= item.id %>] = '<%= item.expandimg.expand_mobile.url %>';
		
		$('#<%= item.id %>').css('background-image','url("<%= item.iconimg.icon.url %>")');
		$('#<%= item.id %>').children().first().children().first().removeClass().addClass('itemOverHide');
	<% end %>

	// PREPARE WIDTHS OF NORMAL/EXPANDED ITEMS
	expandedWidth = $('#container').width()- 10;
	normalWidth = $('span.item').children().first().width();
	
	if(isMobile()==true){
		expandedWidth = '240';
		normalWidth = '113';
	}
	
	$('span.item').mouseover(function(){
		if($(this).width() < expandedWidth)
		{
			$(this).children().first().children().first().removeClass().addClass('itemOver');
		}
	});
	
	$('span.item').mouseout(function(){
		if($(this).width() < expandedWidth)
		{
			$(this).children().first().children().first().removeClass().addClass('itemOverHide');
		}
	});
	
	$('span.item').click(function(e){
		if ($(e.target).hasClass('item_close')) {
        	$(this).css('cursor','pointer');
			divid = $(this).attr('id');
			
			$(this).children().first().css('padding','46px 0 45px 0');
			$(this).children().first().html('<div class="itemOverHide">'+title[divid]+'</div>');
			$(this).children().first().animate({'width': normalWidth +'px'},
							'fast', function(){	
								$(this).css('background-image','url("' +iconImgUrl[divid]+ '")');
								$('html, body').animate({scrollTop:-100+$(this).parent().position().top}, 'fast');
							});
        	return false;
    	}
		if ($(e.target).is('a')) {
        	return true;
    	}
		divid = $(this).attr('id');
		//$(this).children().first().css('padding','46px 0 45px 0');
		if($(this).width() < expandedWidth)
		{
			divid = $(this).attr('id');
			if(isMobile()==true){
				$(this).children().first().css('background-image','url("' +expandMobileImgUrl[divid] + '")');
			}else{
				$(this).children().first().css('background-image','url("' +expandDeskImgUrl[divid] + '")');
			}
			$(this).css('cursor','auto');
			$(this).children().first().animate({'width': expandedWidth +'px'}, 'fast', function(){
							$('#'+divid).children().first().css('padding','10px 0 10px 0');
								$('#'+divid).children().first().html(
									'<div class="inner_expand">' +
										'<a href="#" class="item_close">&#10005;</a>' +
										'<p class="item_title">' + title[divid] + '</p>' +
										'<p>' + description[divid] + '</p>' +
										'<br/><p><a href="/s/'+sectionName+'/i/'+title[divid]+'">See More</a><p>'+
									'</div>'
								);
								height = $('#'+divid).children().first().children().first().height();
								$('#'+divid).children().first().children().first().css('height', '50px');
								$('#'+divid).children().first().children().first().animate({'height': height + 'px'}, 'fast', function(){
									$('html, body').animate({scrollTop:-100+$(this).parent().position().top}, 'fast', function(){});
								});
								
							
						});
		}
		return false;
	});
});
</script>

