<div id="fence">
<% @items.each do |item| %>
<a href="" class="item" id="<%= item.id %>"><div class="inner">&nbsp;</div></a>
<% end %>
</div>

<script>
$(document).ready(function()
{

	title = new Array();
	description = new Array();
	iconImgUrl = new Array();
	expandImgUrl = new Array();

	<% @items.each do |item| %>
		title[<%= item.id %>] = '<%= item.title %>';
		description[<%= item.id %>] = '<%= item.description %>';
		iconImgUrl[<%= item.id %>] = '<%= item.iconimg.url %>';
		expandImgUrl[<%= item.id %>] = '<%= item.expandimg.url %>';
		
		$('#<%= item.id %>').css('background-image','url("<%= item.iconimg.url %>")');					
	<% end %>

	isMobile = function(){
        return 	((navigator.platform.indexOf("iPhone") != -1) ||
        		(navigator.platform.indexOf("iPod") != -1) ||
        		(navigator.platform.indexOf("android") != -1));
	};

	containerSize = $('#container').css('width').replace('px','') - 50;
	normalSize = $('a.item').children().first().css('width').replace('px','');
	
	if(isMobile()==true){
		containerSize = '200';
		normalSize = '73';
	}
		
	$('a.item').click(function(){
		if($(this).css('width').replace('px','') >= containerSize)
		{
			$(this).children().first().html('&nbsp;');
			$(this).children().first().animate({'width': normalSize +'px'},
							'fast', function(){	
								$(this).css('background-image','url("' +iconImgUrl[divid]+ '")');
								$('html, body').animate({scrollTop:$(this).position().top}, 'fast');
							});
			
		}
		else
		{
			divid = $(this).attr('id');
			$(this).children().first().css('background-image','url("' +expandImgUrl[divid] + '")');
			$(this).children().first().animate({'width': containerSize +'px'}, 'fast', function(){
							$('html, body').animate({scrollTop:$(this).position().top}, 'fast', function(){	
								$('#'+divid).children().first().html('<br/>' + title[divid] + '<br/>' + description[divid]);
							});
						});
		}
		return false;
	});
});
</script>

