<div id="fence">
<% @items.each do |item| %>
<a href="" class="item" id="<%= item.id %>"><div class="inner"><%= item.title.upcase %></div></a>
<% end %>
</div>

<script>
$(document).ready(function()
{

	title = new Array();
	description = new Array();
	iconImgUrl = new Array();
	expandDeskImgUrl = new Array();
	expandMobileImgUrl = new Array();

	<% @items.each do |item| %>
		title[<%= item.id %>] = '<%= item.title.upcase %>';
		description[<%= item.id %>] = '<%= item.description %>';
		iconImgUrl[<%= item.id %>] = '<%= item.iconimg.icon.url %>';
		expandDeskImgUrl[<%= item.id %>] = '<%= item.expandimg.expand_desk.url %>';
		expandMobileImgUrl[<%= item.id %>] = '<%= item.expandimg.expand_mobile.url %>';
		
		$('#<%= item.id %>').css('background-image','url("<%= item.iconimg.icon.url %>")');
		$('#<%= item.id %>').children().first().html('&nbsp;');
	<% end %>

	isMobile = function(){
        return 	((navigator.platform.indexOf("iPhone") != -1) ||
        		(navigator.platform.indexOf("iPod") != -1) ||
        		(navigator.platform.indexOf("android") != -1));
	};

	expandedWidth = $('#container').css('width').replace('px','') - 10;
	normalWidth = $('a.item').children().first().css('width').replace('px','');
	
	if(isMobile()==true){
		expandedWidth = '240';
		normalWidth = '113';
	}
	
	/*$('a.item').mouseover(function(){
		divid = $(this).attr('id');
		if($(this).css('width').replace('px','') < expandedWidth)
		{
			$(this).children().first().html('<div style="background:#000; color:#f00;">' +title[divid]+ '</div>');
		}
	});
	
	$('a.item').mouseout(function(){
		if($(this).css('width').replace('px','') < expandedWidth)
		{
			$(this).children().first().html('&nbsp');
		}
	});*/
	
		
	$('a.item').click(function(){
		divid = $(this).attr('id');
		$(this).children().first().css('padding','48px 0 47px 0');
		if($(this).css('width').replace('px','') >= expandedWidth)
		{
			$(this).children().first().html('&nbsp;');
			$(this).children().first().animate({'width': normalWidth +'px'},
							'fast', function(){	
								$(this).css('background-image','url("' +iconImgUrl[divid]+ '")');
								$('html, body').animate({scrollTop:$(this).parent().position().top}, 'fast');
							});
			
		}
		else
		{
			divid = $(this).attr('id');
			if(isMobile()==true){
				$(this).children().first().css('background-image','url("' +expandMobileImgUrl[divid] + '")');
			}else{
				$(this).children().first().css('background-image','url("' +expandDeskImgUrl[divid] + '")');
			}
			$(this).children().first().animate({'width': expandedWidth +'px'}, 'fast', function(){
							$('#'+divid).children().first().css('padding','10px 0 10px 0');
								$('#'+divid).children().first().html('<div class="innerinner">' + title[divid] + '<br/><br/>' + description[divid] + '</div>');
								height = $('#'+divid).children().first().children().first().css('height').replace('px','');
								$('#'+divid).children().first().children().first().css('height', '50px');
								$('#'+divid).children().first().children().first().animate({'height': height + 'px'}, 'fast', function(){
									$('html, body').animate({scrollTop:$(this).parent().position().top}, 'fast', function(){});
								});
								
							
						});
		}
		return false;
	});
});
</script>

